body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Montserrat', sans-serif !important;
  background:#ebe7df;
}

h1,h2,h3,h4,h5,h6{
	margin:0;			   
}

.content {
  padding: 30px 0;
}

.search {
  border: 3px solid #eb5424;
}

.search input[type="search"] {
  width     : 92%;
  border    : none;
  outline   : none;
  padding   : 13px 16px 14px 16px;
  font-size : 18px;
  color     : #232323;
}

.search form input[type="submit"] {
  background : url(../images/square-ui/search.png) no-repeat 15px 14px #eb5424;
  width      : 8%;
  height     : 52px;
  border     : none;
  margin     : 0 -4px 0 0px;
  padding    : 0;
  border     : none;
}

.login-head {
  background: #F0DA50;
  margin-bottom: 10px;
  background-image: url('images/logo.png');
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -99999px;
  background-color: transparent;
}

.login-head h3 {
  border         : 3px solid #000;
  padding        : 16px 0;
  color          : #000;
  font-size      : 25px;
  font-weight    : 600;
  float          : left;
  text-align     :center;
  width          : 100%;
  text-transform : capitalize;
}

.results {
  margin-top: 10px;
  border: 3px solid black;
  padding: 15px;
  background-color: #fdfdfd;
  transition: all 500ms ease;
  min-height: 200px;
  max-height: 70vh;
  overflow: scroll;
}

.alphabet {
  text-align: center;
  padding: 10px;
  border: 3px solid black;
  margin-top: 10px;  
}

.alphabet ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.alphabet ul li {
  display: inline-block;
  padding: 0 5px;
}

.alphabet ul li a {
  color: black;
  transition: all 300ms ease;
  text-decoration: none;
}

.alphabet ul li a:hover {
  color: #EB5424;
}

ul#entries {
  margin-top: 10px;
}

ul#entries.fold li {
  display: none;
}

ul#entries.fold li.selected {
  display: list-item !important;
}

.alphabet ul li a.highlighted {
  color: #EB5424;
}

.info {
  margin-top: 20px;
  opacity: 0.4;
  transition: opacity 600ms ease;
}

.info:hover {
  opacity: 1;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animatable {
  animation: subtle-move 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}  

@keyframes subtle-move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-6px);
  }
}
