.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  display: inline-block;
  padding: 10px;
  font: inherit;
  border-radius: 0;
  width: 100%;
  border: 0;
}

.search__input:focus + .search__button span {
  animation: pulse 1s infinite alternate;
}

.search__button {
  font: inherit;
  background-color: #eb5424;
  color: white;
  display: inline-block;
  border: 0;
  padding: 0 18px;
  cursor: pointer;
}

.search__button span {
  display: inline-block;
  transition: 0.15s;
}

.search__button:hover span,
.search__button:active span {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.15);
  }
}
