<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include sprite.svg %}

    <div id="particles-js" class="particles" aria-hidden="true"></div>

    {% include header.html %}
    
    <main class="main container">
      {% include search.html %}
      {% include alphabet.html %}

      <div class="box">
        {% capture content %}
{% include abbr.html %}
{{ content }}
        {% endcapture %}

        {{ content | strip | markdownify }}
      </div>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
